body{
  margin:0px;
  padding:0px;
}
h1,p{
  font-family: 'Roboto Mono', monospace;
  font-weight:bold;
}

h1{
  font-size:45px;
}

p{
  font-size:15px;
}

.card{
  width:500px;
  height:500px;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom:30px;
}

/* .opaqueLayer{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:2;
  background-color:#e6e6e6;
  opacity:0.6;
  transition:opacity 0.3s;
} */


.videoBackground{
  position:absolute;
  top:0px;
  left:0px;
  width:500px;
  height:500px;
  z-index:1;
}

.content{
  position:absolute;
  background-color:rgba(242, 242, 242,0.5);
  top:0px;
  left:0px;
  width:440px;
  height:440px;
  padding:30px;
  z-index:3;
  border:1px solid black;
  transition:background-color 0.3s;
}

.content:hover{
  background-color:rgba(242, 242, 242,0.8);
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .card{
    width:100vw;
    min-width:320px;
    height:100vw;
    margin-top:0px;
    margin-bottom:0px;
  }

  .content{
    width:90%;
    padding:5%;
    height:90%;
    background-color:rgba(242, 242, 242,0.6);
    border:none;

  }
  .content:hover{
    background-color:rgba(242, 242, 242,0.6);

  }


  .videoBackground{
    width:100%;
    height:auto;

  }

}
